* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #353b48;
}

body {
  background-color: #636e72;
}

input, textarea{
  background-color: #8395a7;
  border: 0px;
  font-size: 1em;
  color: #353b48;
  margin-bottom: 0.5em;
}

textarea {
  padding: 0px;
}

label {
  font-weight: bold;
}

input::placeholder {
  color: #ced6e0;
  font-weight: 300;
}

/* Nav */
.nav-container  {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.nav {
  width: 100vw;
  background-color: #1e272e;
}

.logo {
  margin: 10px;
  color: #dfe4ea;
  text-decoration: none;
  font-size: 1.5em;
  font-family: cursive;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-self: center;
}

.nav-item {
  color: #a4b0be;
  text-decoration: none;
  padding-left: 12px;
}

.nav-item:hover {
  color: #ff7979;
}

/* All Items */
.item-container {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  background-color: #a2b4c4;
  width: 30%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-details {
  width: 100%;
  padding: 10px;
}

.item-details-half {
  width: 50%;
  padding: 10px;
}

.item-title {
  text-decoration: none;
  color: #6D214F;
  font-size: 1.5em;
  font-weight: bold;
}

a.item-title:hover {
  color: #b33939;
}

.item-img {
  width: 100%;
  text-align: center;
}

.item-players {
  float: right;
  color: #6D214F;
  font-size: 1.25em;
  font-weight: bold;
  text-align: right;
}

.item-type {
  font-weight: bold;
}

/* Inputs */
.input-title {
  text-decoration: none;
  color: #6D214F;
  font-size: 1.5em;
  font-weight: bold;
  width: 50%;
}

.input-type {
  width: 25%;
  font-size: 1.25em;
  font-weight: bold;
}

.div-players {
  float: right;
  display: flex;
  justify-content: center;
  text-align: right;
}

.input-players {
  text-decoration: none;
  color: #6D214F;
  width: 1.5em;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  margin-left: 1em;
}

/* Game Page */
.game-container {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #a2b4c4;
  margin-top: 10px;
  display: flex;
}

.game-description {
  padding-top: 1em;
  width: 100%;
}

.game-img {
  width: 50%;
  height: auto;
}

.image-container {
  width: 50%;
  height: 100%;
}

.edit-img {
  width: 100%;
}

/* Buttons */
.btn {
  border-radius: 5px;
  border: 0px;
  padding: 0.25em;
  font-size: 1.25em;
  color: #dfe4ea;
  text-decoration: none;
}

.btn-green {
  background-color: #218c74;
  float: right;
  margin-left: 0.75em;
}

.btn-edit {
  background-color: #cd6133;
  float: right;
}

.btn-delete {
  background-color: #b33939;
  float: right;
  margin-left: 0.75em;
}

/* Alert */
.alert {
  background-color: #cf6a87;
  width: 100%;
  color: #353b48;
}

.alert-ul {
  list-style-type: none;
}

.alert-notice {
  font-weight: bold;
}

 /* Something */
.clear {
  clear: both;
}

.margin {
  margin: 0em 0.5em;
}


@media screen and (max-width: 800px) {
  .item{
    width: 45%;
  }
}

@media screen and (max-width: 400px) {
  .item-container{
    display: block;
  }

  .item{
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
  }
}
