* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #353b48;
}

body {
  background-color: #808e9b;
}

/* Nav */
.nav {
  width: 100vw;
  background-color: #353b48;
  display: flex;
  justify-content: flex-start;
}

.logo {
  margin: 10px;
  color: #dfe4ea;
  text-decoration: none;
  font-size: 1.5em;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-self: center;
}

.nav-item {
  color: #a4b0be;
  text-decoration: none;
  padding-left: 12px;
}

.nav-item:hover {
  color: #dfe4ea;
}

/* All Items */
.item-container {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  background-color: #a2b4c4;
  width: 30%;
  margin-top: 10px;
}

.item-details {
  width: 100%;
  padding: 10px;
}

.item-title {
  text-decoration: none;
  color: #6D214F;
  font-size: 1.5em;
}

.item-title:hover {
  color: #B33771;
}

.item-img {
  width: 100%;
  text-align: center;
}

.item-players {
  float: right;
  color: #6D214F;
  font-size: 1.25em;
}

.item-type {
  font-weight: bold;
}

/* Game Page */
.game-container {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #a2b4c4;
  margin-top: 10px;
}

.game-discription {
  padding-top: 1em;
}
