* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #353b48;
}

body {
  background-color: #636e72;
}

/* Nav */
.nav-container  {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.nav {
  width: 100vw;
  background-color: #1e272e;
}

.logo {
  margin: 10px;
  color: #dfe4ea;
  text-decoration: none;
  font-size: 1.5em;
  font-family: cursive;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-self: center;
}

.nav-item {
  color: #a4b0be;
  text-decoration: none;
  padding-left: 12px;
}

.nav-item:hover {
  color: #ff7979;
}

/* All Items */
.item-container {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  background-color: #a2b4c4;
  width: 30%;
  margin-top: 10px;
}

.item-details {
  width: 100%;
  padding: 10px;
}

.item-title {
  text-decoration: none;
  color: #6D214F;
  font-size: 1.5em;
}

.item-title:hover {
  color: #c23616;
}

.item-img {
  width: 100%;
  text-align: center;
}

.item-players {
  float: right;
  color: #6D214F;
  font-size: 1.25em;
}

.item-type {
  font-weight: bold;
}

/* Game Page */
.game-container {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #a2b4c4;
  margin-top: 10px;
}

.game-discription {
  padding-top: 1em;
}

/* Buttons */
.btn {
  border-radius: 5px;
  border: 0px;
  padding: 0.25em;
  font-size: 1.25em;
  color: #dfe4ea;
  text-decoration: none;
}

.btn-green {
  background-color: #218c74;
  float: right;
}

.btn-edit {
  background-color: #cd6133;
  float: right;
}

.btn-delete {
  background-color: #b33939;
  float: right;
  margin-left: 0.75em;
}

 /* Something */
.clear {
  clear: both;
}
